---
import { getCollection } from "astro:content";
import Fadeup from "@components/animation/Fadeup";
import WorkCard from "@components/WorkCard.astro";
import WorksAllViewButton from "../button/WorksAllViewButton.astro";
import WorksOfferRead from "../WorksOfferRead.astro";
import SectionHeading from "./SectionHeading.astro";

const worksContents = await getCollection("work");

// TODO: filter by isPickup
const works = worksContents
	.sort((a, b) => {
		return b.data.termFrom.localeCompare(a.data.termFrom);
	})
	.sort((a, b) => {
		return b.data.termTo.localeCompare(a.data.termTo);
	})
	.slice(0, 4);
---

<section id="works" class="w-full mt-10">
	<div class="text-center">
		<SectionHeading title="Works" isBlue={true} />
		<p class="px-10 pt-5 pb-16 text-lg leading-[2]">
			私が作ってきたもの、作っているものを載せています。<br />
			ご意見等ございましたらお気軽にお問い合わせください！
		</p>
	</div>

	<div
		class="mb-20 px-5 w-full flex justify-center gap-x-10 gap-y-16 flex-wrap"
	>
		{
			works.map((item, index) => (
				<Fadeup uid={item.slug} delay={index * 0.15} client:only="react">
					<WorkCard
						slug={item.slug}
						title={item.data.title}
						ruby={item.data.ruby}
						summary={item.data.summary}
						termFrom={item.data.termFrom}
						termTo={item.data.termTo}
						worksCategory={item.data.worksCategory}
						techCategory={item.data.techCategory}
						worksLink={item.data.worksLink}
						githubLink={item.data.githubLink}
						thumbnail={item.data?.thumbnail}
					/>
				</Fadeup>
			))
		}
	</div>
	<div class="pb-20">
		<WorksOfferRead />
		<WorksAllViewButton classes={"mx-auto"} />
	</div>
</section>
